body {
  margin: 0px;
  font-size: 10px;
  font-family: pt sans;
}

p {
    margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(15, 76, 117);
  height: 65px;
  align-items: center;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 200px;
  

}

.menu button {
  border: none;
  background-color: transparent;
  color: #d9d9d9;
  font-size: 10px;
  font-family: PT SANS;
  align-items: right;
  cursor: pointer;
  margin-left: 20px;
}

.m-b-1:hover, 
.m-b-2:hover, 
.m-b-3:hover, 
.m-b-4:hover {
    text-decoration: underline;
}

.logo {
  flex: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.logo img {
  width: 50px;
}

.contact {
  flex: 150px;
}

nav {
  width: 20px;
  background-color: rgb(15, 76, 117);
  margin-top: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: fixed;
  align-items: center;
  z-index: 500;
}
section {
  height: 1200px;
  position: relative;
}

section div {
  height: 300px;
}

.h-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-container {
  background-color: rgb(187, 225, 250);
}

.p-container {
  background-color: rgb(50, 130, 184);
}

.c-container {
  background-color: rgb(15, 76, 117);
}

footer {
  background-color: rgb(27, 38, 44);
  height: 100px;
  position: relative;
}

footer img {
  position: absolute;
  width: 20px;
  bottom: 75px;
  right: 5px;
  background-color: #d9d9d9;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgb(15, 76, 117);
    line-height: 29px;
}

.p-1 {
    font-size: 11px;
}

.p-2, .p-3 {
    font-weight: 700;
    font-size: 24px;
}

.profile-picture img {
  width: 150px;
  
}

.profile-picture {
  flex: 1;
}
.w-p-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.w-p-container p {
  width: 210px;
  text-align: justify;
  padding-right: 10px;
  color: rgb(15, 76, 117);
}

nav a {
  color: #d9d9d9;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none;
}



